
.image1{
	max-width:100%;
}

h1{
	color: white;
	font-size: 30px;
	font-family:Lucida Sans Unicode;
	background-color: rgb(0, 106, 165);
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.subtopic{
	background-color:rgb(207, 238, 255); 
	max-width: 100%;
	border-radius: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.header2{
	font-weight: bold;
	font-size: 20px;
	font-family:candara;
	margin: 5px;
	padding-left: 3px;
}

ul{
	list-style-type: none;
	/*outline: red solid thin;*/
	margin-top: 5px;
	margin-bottom: 5px;
}

.text{
	/*outline: red solid thin;*/
	margin: 0px;
	margin-left: 40px;
	font-family:candara;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
}

ul{font-family: candara;}